{
  "extends": "umi",
   "rules": {
    "no-unused-vars": "off",
    "eqeqeq": "off",
    "radix": "off",
    "callback-return": "off",
    "array-callback-return": "off",
    "no-unused-expressions": "off",
    "no-empty-pattern": "off"
   }
}