@bgColor: #0B0B15;
@ctxBgColor: #0A0605;
.secondPage{
  display: flex;
  flex-direction: column;
  height: ~"calc(100vh)";
  position: relative;
  .head{
    height: 75px;
    background-color: @bgColor;
    display: flex;  
    color: #DEDEDE;
    font-size: 30px;
    .back{
      display: flex;
      align-items: center;  
      justify-content: flex-start;
      padding: 0px 14px;
      .leftIcon{
        background: linear-gradient(180deg, #EBE3C7 0%, #967756 98.095703125%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .title{
      display: flex;
      align-items: center;  
      justify-content: center;
      flex: 1;
      font-weight: 500;
      background: linear-gradient(180deg, #EBE3C7 0%, #967756 98.095703125%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .content{
    flex: 1;    
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow-y: scroll;
    background: @ctxBgColor;
  }
  .footer{
    position: absolute;
    
  }
}